:root {
  --color-bg: #16161a;
  --color-bg-offset: #29293e;
  --color-text: #FFFFFF;
  --color-text-offset: #94a1b2;
  --color-border: #383a61;
  --color-primary: #7f5af0;
  --color-primary-offset:#e068fd;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  color: var(--color-primary-offset);
  text-decoration-color: var(--color-primary-offset);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

body {
  font-size: 16px;
  line-height: 1.65;
}
@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}