:root {
  --color-bg: #0e141b;
  --color-primary: #323232;
  --color-border: #0D7377;
  --color-link: #14FFEC;
  --color-text: #FFFFFF;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  cursor: pointer;
  color: var(--color-link);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}