.container {
  margin: auto;
  max-width: 50rem;
  font-family: "Times";
  padding: 0 2rem;
}

.subtitle {
  font-size: 1.5rem;
}

.horizontal-rule {
  background-color: var(--color-border);
  height: 3px;
  border: 0px;
}