.container {
  composes: container from "../styles/shared.css";
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerBorder {
  border-color: var(--color-border);
}

.footerItem {
  padding: 1rem;
  flex-basis: auto;
  font-size: 1rem;
}