.container {
  composes: container from "../styles/shared.css";
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding: 1rem;
  text-align: center;
}

.nav-link {
  color: white;
}